@use "../../../assets/styles/colors.scss" as *;

.input-container {
  display: grid;
  width: 100%;
  grid-column: span 18;
  &__label {
    font-size: 1.125rem;
    padding: 0.125rem;
    text-align: center;
  }
  &__date-label {
    font-size: 0.625rem;
  }
  &__input {
    outline: none;
    border: transparent;
    border-radius: 0.125rem;
    padding: 0.325rem 0.625rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 1rem;
  }
}

// .input-title-edit {
//   padding: 0.325rem 0;
//   font-size: 1.5rem;
//   color: $color-text-dark-blue;
//   transition: 0.5s all;
//   background-color: $color-bg-main;

//   &:focus {
//     background-color: $color-bg-main-blue;
//     color: $color-text-light;
//     padding: 0.325rem 0.625rem;
//   }
// }
// .input-subtask {
//   font-size: 0.825rem;
//   background-color: $color-bg-main;
//   color: $color-text-dark-blue;
//   border-left: 0.325rem solid $color-bg-other;
//   transition: 0.5s all;
//   &:focus {
//     background-color: $color-bg-main-blue;
//     color: $color-text-light;
//     padding: 0.325rem 0.625rem;
//     border-left: 0.325rem solid $color-bg-main-blue;
//   }
// }
// .input-subtask-done {
//   border-radius: 0.125rem;
//   font-size: 0.825rem;
//   background-color: $color-bg-other;
//   color: $color-text-light;
//   text-decoration: line-through;
// }
