@use "../../../assets/styles/colors.scss" as *;

.input-container {
  display: grid;
  width: 100%;
  grid-column: span 15;
  &__label {
    font-size: 1rem;
    padding: 0.125rem;
    text-align: center;
    font-weight: 600;
  }
  &__date-label {
    align-self: end;
    font-size: 0.625rem;
  }
  &__input {
    outline: none;
    border: transparent;
    border-radius: 0.125rem;
    padding: 0.325rem 0.625rem;
    font-size: 1rem;
  }
  &__input-title {
    transition: 0.5s all;
    outline: none;
    border: transparent;
    border-radius: 0.125rem;
    padding: 0.325rem 0;
    font-size: 1rem;
    background-color: inherit;
    color: $color-text-dark-blue;
    font-size: 1.5rem;
    border-bottom: 0.075rem solid $color-bg-other;
    &:focus {
      background-color: #fff;
      color: $color-text-dark-blue;
      padding: 0.325rem 0.625rem;
    }
  }
}

@media (max-width: 1200px) {
  .input-container {
    grid-column: span 13;
  }
}

@media (max-width: 600px) {
  .input-container {
    grid-column: span 18;
  }
}
