@use "../../../assets/styles/colors.scss" as *;

.text-editor {
  grid-column: span 18;
  cursor: auto;
  &__label {
    text-align: center;
    padding-bottom: 0.325rem;
    font-weight: 600;
    font-size: 1rem;
  }
  &__date-label {
    font-size: 0.825rem;
    font-weight: 600;
  }
  &__date-label-done {
    font-size: 0.825rem;
    font-weight: 600;
    color: #14b40a;
  }
}
.mce-content-body {
  color: $color-text-dark-blue;
  background-color: inherit;
  transition: 0.5s all;
  padding: 0.325rem 0;
  outline: none;
  border: transparent;
  border-radius: 0.125rem;
  font-size: 1rem;
  & > ol {
    margin-left: 1.5rem;
  }
}
.mce-edit-focus {
  background-color: #fff;
  color: $color-text-dark-blue;
  // background-color: $color-bg-main-blue;
  // color: $color-text-light;
  padding: 0.325rem 0.625rem;
  cursor: cursor;
}
.tox-statusbar__branding {
  display: none;
}
.tox-statusbar {
  display: none !important;
}

@media (max-width: 600px) {
  .text-editor {
    &__label {
      display: flex;
      justify-content: center;
    }
  }
}
