@use "../../../assets/styles/colors.scss" as *;

.text-editor-wrapper {
  grid-column: span 18;
}
.label {
  font-size: 0.625rem;
}
.mce-content-body {
  color: $color-text-dark-blue;
  background-color: inherit;
  transition: 0.5s all;
  padding: 0.325rem 0;
  outline: none;
  border: transparent;
  border-radius: 0.125rem;
  & > ol {
    margin-left: 1.5rem;
  }
}
.mce-edit-focus {
  background-color: $color-bg-main-blue;
  color: $color-text-light;
  padding: 0.325rem 0.625rem;
}
.tox-statusbar__branding {
  display: none;
}
.tox-statusbar {
  display: none !important;
}
