@use "../../../assets/styles/colors.scss" as *;

.button {
  width: 12rem;
  border: transparent;
  border-radius: 0.125rem;
  padding: 0.325rem 0.625rem;
  background-color: $color-btn-hover;
  color: $color-text-dark-blue;
  cursor: pointer;
  transition: 0.5s all;
  align-self: center;
  &:hover {
    background-color: $color-btn-main;
    color: $color-text-light;
  }
}
.button__icon {
  width: 4rem;
  font-size: 2rem;
  margin: 0;
  &:hover {
    background-color: inherit;
    color: #14b40a;
    padding: 0.325;
  }
}
