@use "../../../assets/styles/colors.scss" as *;

.button {
  // padding: 0.125rem 0.5rem;
  border: transparent;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: 0.5s all;
  min-width: 10rem;
  box-sizing: border-box;
}
.button-light {
  background-color: $color-btn-hover;
  color: $color-text-dark-blue;
  &:hover {
    background-color: $color-btn-active;
    color: $color-text-light;
  }
  box-sizing: border-box;
}
.button-dark {
  background-color: $color-btn-active;
  color: $color-text-light;
  &:hover {
    background-color: $color-btn-hover;
    color: $color-text-dark-blue;
  }
  box-sizing: border-box;
}
.button-light-blue {
  background-color: $color-btn-hover;
  color: $color-text-dark-blue;
  &:hover {
    background-color: $color-btn-main;
    color: $color-text-light;
  }
  box-sizing: border-box;
}
