@use "../../assets/styles/colors.scss" as *;

.main-page {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-main;
  &__project-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem 6rem;
    gap: 2rem;
    margin: 0 10rem;
  }
}

@media (max-width: 1200px) {
  .main-page__project-container {
    padding: 1rem 2rem;
    gap: 1rem;
    margin: 0 5rem;
  }
}

@media (max-width: 600px) {
  .main-page__project-container {
    padding: 1rem 2rem;
    gap: 1rem;
    margin: 0 1rem;
  }
}
