@use "../../../assets/styles/colors.scss" as *;

.container {
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}
.wrapper {
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  cursor: cursor;
  overflow: auto;
}
.edit-task-modal {
  margin: 5% 20%;
  z-index: 1;
  padding: 1rem 2rem;
  border: transparent;
  border-radius: 0.625rem;
  background-color: $color-bg-main;
  color: $color-text-dark-blue;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  row-gap: 0.325rem;
  &__number {
    grid-column: span 1;
    font-size: 2rem;
    text-align: start;
  }
  &__status {
    grid-column: span 6;
    text-align: start;
    font-size: 0.825rem;
    // border-top: 0.075rem solid $color-bg-other;
    cursor: default;
  }
  &__dev-time {
    grid-column: span 6;
    font-size: 0.825rem;
    text-align: center;
    // align-self: center;
    cursor: default;
  }
  &__end-date {
    grid-column: span 6;
    text-align: end;
    text-align: end;
    font-size: 0.825rem;
    cursor: default;
  }

  &__save-btn {
    grid-column: span 18;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__file {
    grid-column: span 18;
    &__input {
      display: none;
    }
    &__label {
      font-size: 0.825rem;
      cursor: pointer;
      padding: 0.325rem 1.325rem;
      transition: 0.5s all;
      &:hover {
        background-color: $color-bg-main-blue;
        color: #fff;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      font-size: 0.825rem;
      padding-top: 0.5rem;
    }
  }
}
