@use "../../assets/styles/colors.scss" as *;

.task-modal {
  margin: 10% 20%;
  z-index: 1;
  padding: 1rem 2rem;
  border: transparent;
  border-radius: 0.625rem;
  background-color: $color-bg-main;
  color: $color-text-dark-blue;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 0.325rem;
  &__number {
    grid-column: span 1;
    font-size: 1.125rem;
    text-align: end;
  }
  &__title {
    grid-column: span 14;
    font-size: 1.5rem;
  }
  &__description {
    grid-column: span 18;
    grid-row: span 5;
  }
  &__create-date {
    grid-column: span 3;
    text-align: end;
  }
  &__dev-time {
    grid-column: span 18;
  }
  &__end-date {
    grid-column: span 9;
  }
  &__priority {
    grid-column: span 18;
    color: $color-text-high-priority;
    font-weight: 600;
  }
  &__status {
    grid-column: span 9;
    text-align: end;
  }
  &__sub-task-section {
    grid-column: span 18;
    &__create-btn {
      padding: 0.125rem 0.5rem;
    }
  }
  &__comment-section {
    grid-column: span 18;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  cursor: pointer;
}
