@use "../../../assets/styles/colors.scss" as *;

.text-area-wrapper {
  display: grid;
  width: 100%;
  height: auto;
  grid-column: span 18;
  overflow: none;
}
.text-area {
  resize: none;
  height: 10rem;
  overflow: hidden;
  //   overflow: none;
  //   outline: none;

  //   resize: vertical;
  //   border: transparent;
  //   border-radius: 0.125rem;
  //   color: $color-text-dark-blue;
  //   background-color: inherit;
  //   transition: 0.5s all;
  //   padding: 0.325rem 0;
  //   &:focus {
  //     background-color: $color-bg-main-blue;
  //     color: $color-text-light;
  //     padding: 0.325rem 0.625rem;
  //   }
}
