/* common */
$color-bg-main: #e7ecef;
$color-bg-main-blue: #6096ba;
$color-bg-other: #274c77;

/* text */
$color-text-light: #fff;
$color-text-dark: #000;
$color-text-dark-blue: #274c77;
$color-text-high-priority: red;
$color-text-average-priority: yellow;
$color-text-low-priority: purple;

/* buttons & inputs */
$color-btn-main: #6096ba;
$color-btn-active: #274c77;
$color-btn-hover: #e7ecef;
