@use "../../assets/styles/colors.scss" as *;

.project-page {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-main;
  &__task-container {
    padding: 0.5rem 15rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

.task-column {
  width: 100%;
  &__header {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: $color-text-dark-blue;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
