@use "../../assets/styles/colors.scss" as *;

.project-page {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-main;
  &__task-container {
    padding: 0.5rem 15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
  &__search-bar {
    padding-top: 0.325rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.325rem;
    &__label {
      color: $color-text-dark-blue;
    }
    &__input {
      outline: none;
      width: 30%;
      border: transparent;
      border-radius: 0.125rem;
      padding-left: 0.325rem;
    }
  }
}

@media (max-width: 1200px) {
  .project-page__task-container {
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .project-page__task-container {
    flex-direction: column;
  }
}
